# Node & Build artifacts
node_modules/
dist/
build/
.cache/

# Environment files
.env
.env.local
.env.*.local

# Editor files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
# Assets
assets/
